<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	 <property name="HOME_LOG" value="C:/Users/maheshk/Desktop/test/logs/application.log"/>
	<!-- <property name="HOME_LOG" value="/var/logs/application.log"/> -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<pattern>[%5p] %d [%logger :%M:%L] %n%msg%n%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/se-oauth-%d{ddMMMyyyy-a}.log</fileNamePattern>
			<maxHistory>60</maxHistory>
			<!-- <totalSizeCap>2MB</totalSizeCap> -->
		</rollingPolicy>
		<encoder>
			<pattern>[%5p] %d [%logger :%M:%L] %n%msg%n%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
